.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  padding: 16px 12px;
  text-align: center;
}

.filter-button {
  cursor: pointer;
  font-weight: 700;
}

.selected {
  color: #3a7cfd;
}
