.container {
  width: 100%;
  max-width: 320px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 85px;
}

.list-item {
  padding: 16px 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drink-name {
  flex-grow: 1;
}

.crossed-over {
  text-decoration: line-through;
}
