.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #393a4b;
  min-height: 100vh;
  padding-top: 10%; 
}

.header {
  font-size: 40px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 600;
}
