.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/bg-desktop-light.jpg");
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
}

.header {
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 1px;
  text-align: center;
}
