@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-color: #FAFAFA;
}

input {
  all: unset;
}

ul {
  list-style: none;
}
